
<div id="wvtaForm" class="windowContent w2ui-reset w2ui-form">
	<div class="w2ui-page page-0 modalContent">
		<div class="w2ui-field" >
	        <label for="idwvta">WVTA:</label>
	        <div><input type="text"   id="idwvta"></div>
	    </div>
	    <div class="w2ui-field" >
	        <label for="data_wvta">Data WVTA:</label>
	        <div><input type="text"   id="data_wvta"></div>
	    </div>
	</div>
	<div class="w2ui-buttons">
	        <button class="btn btn-blue save-wvta"><i class="fa fa-save"></i> Salveaza</button>
	        <button class="btn btn-red cancel-wvta"><i class="fa fa-times"></i> Renunta</button>
	</div>
</div>