<div class="w2ui-page page-0 modalContent" style="width:100%">

<div id="tvvtabs"></div>
<div class="tab tab-container active" id="tabTVV"></div>
<div class="tab tab-container" id="tabMase"></div>
<div class="tab tab-container" id="tabDimensiuni"></div>
<div class="tab tab-container" id="tabAxe"></div>
<div class="tab tab-container" id="tabAltele"></div>
<div class="tab tab-container" id="tabTransmisie"></div>
<div class="tab tab-container" id="tabMotor"></div>
<div class="tab tab-container" id="tabPoluare"></div>
<div class="tab tab-container" id="tabAnvelope"></div>
<div class="tab tab-container" id="tabComponente"></div>
<div class="tab tab-container" id="tabMentiuni"></div>
</div>
<div class="w2ui-buttons">
	<span id="editButtons">
    <button class="btn btn-blue" id="btnSave"><i class="w2ui-icon-save"></i> Salveaza</button>
    <button class="btn btn-orange" id="btnImportDate"><i class="w2ui-icon-upload"></i> Importa datele de la extensia anterioara</button>
    <button class="btn btn-green" id="btnValideaza"><i class="w2ui-icon-check"></i> Valideaza datele!</button>
    </span>
    <span id="operButtons">
    <button class="btn btn-blue" id="btnPrintCert"><i class="w2ui-icon-print"></i> Certificat</button>  
    <button class="btn btn-orange" id="btnPrintAtestat"><i class="w2ui-icon-print"></i> Atestat</button>
    </span>
    <button class="btn btn-green" id="btnPrintFisa"><i class="w2ui-icon-print"></i> Fisa</button>
    <button class="btn btn-red" id="btnClose"><i class="w2ui-icon-cross"></i> Inchide</button>
    <button class="btn btn-orange" id="copyButton" style="display:none"><i class="w2ui-icon-copy"></i> Copy</button>
    <button class="btn btn-orange" id="pasteButton" style="display:none"><i class="w2ui-icon-copy"></i> Paste</button>
</div>

