
<table class="tbl-detmotor">
	<tr>
		<th>Info</th>
		<th>Caracteristici</th>
		<th>Cilindrii</th>
		<th>Echipare</th>
		<th>Poluare</th>
	</tr>
	<tr>
		<td>
			<p><div class="lbl-detmotor">Tip: </div><span style="font-weight:bold"><label id="tip"></label></span></p>
			<p><div class="lbl-detmotor">Cod: </div><span style="font-weight:bold"><label id="cod"></label></span></p>
			<p><div class="lbl-detmotor">Combustibil: </div><span style="font-weight:bold"><label id="combustib"></label></span></p>
			<p><div class="lbl-detmotor">Tip Motor: </div><span style="font-weight:bold"><label id="tip_mot"></label></span></p>
			<p><div class="lbl-detmotor">Alimentare: </div><span style="font-weight:bold"><label id="tip_alim"></label></span></p>
			<p><div class="lbl-detmotor">Timpi: </div><span style="font-weight:bold"><label id="timpi"></label></span></p>
			<p><div class="lbl-detmotor">Racire: </div><span style="font-weight:bold"><label id="tip_racire"></label></span></p>
			<p><div class="lbl-detmotor">Depoluare: </div><span style="font-weight:bold"><label id="tip_depol"></label></span></p>
		</td>
		<td>
			<p><div class="lbl-detmotor">Putere(kW): </div><span style="font-weight:bold"><label id="p_max_kw"></label></span></p>
			<p><div class="lbl-detmotor">P. net(kW): </div><span style="font-weight:bold"><label id="kw_max_net"></label></span></p>
			<p><div class="lbl-detmotor">P orar(kW): </div><span style="font-weight:bold"><label id="kw_max_h"></label></span></p>
			<p><div class="lbl-detmotor">P. 30m(kW): </div><span style="font-weight:bold"><label id="kw_max_30"></label></span></p>
			<p><div class="lbl-detmotor">Putere(CP): </div><span style="font-weight:bold"><label id="p_max_cp"></label></span></p>
			<p><div class="lbl-detmotor">Turatie Pmax: </div><span style="font-weight:bold"><label id="rot_p_max"></label></span></p>
			<p><div class="lbl-detmotor">Cuplu: </div><span style="font-weight:bold"><label id="cuplu_max"></label></span></p>
			<p><div class="lbl-detmotor">Turatie cuplu: </div><span style="font-weight:bold"><label id="rot_c_max"></label></span></p>
		</td>
		<td>
			<p><div class="lbl-detmotor">Cilindree: </div><span style="font-weight:bold"><label id="cilindree"></label></span></p>
			<p><div class="lbl-detmotor">Nr. cilindrii: </div><span style="font-weight:bold"><label id="nr_cilindr"></label></span></p>
			<p><div class="lbl-detmotor">Configuratie: </div><span style="font-weight:bold"><label id="config"></label></span></p>
			<p><div class="lbl-detmotor">Alezaj: </div><span style="font-weight:bold"><label id="alezaj"></label></span></p>
			<p><div class="lbl-detmotor">Cursa: </div><span style="font-weight:bold"><label id="cursa"></label></span></p>
			<p><div class="lbl-detmotor">Compresie: </div><span style="font-weight:bold"><label id="compresie"></label></span></p>
		</td>
		<td>
			<p><div class="lbl-detmotor">Echipare: </div><span style="font-weight:bold"><label id="echipare"></label></span></p>
			<p><div class="lbl-detmotor">Echipare1: </div><span style="font-weight:bold"><label id="echipare1"></label></span></p>
			<p><div class="lbl-detmotor">Echipare2: </div><span style="font-weight:bold"><label id="echipare2"></label></span></p>
			<p><div class="lbl-detmotor">Echipare3: </div><span style="font-weight:bold"><label id="echipare3"></label></span></p>
			<p><div class="lbl-detmotor">Echipare4: </div><span style="font-weight:bold"><label id="echipare4"></label></span></p>
			<p><div class="lbl-detmotor">Partic1: </div><span style="font-weight:bold"><label id="partic1"></label></span></p>
			<p><div class="lbl-detmotor">Partic2: </div><span style="font-weight:bold"><label id="partic2"></label></span></p>
			<p><div class="lbl-detmotor">Partic3: </div><span style="font-weight:bold"><label id="partic3"></label></span></p>
		</td>
		<td>
			<p><div class="lbl-detmotor">CO: </div><span style="font-weight:bold"><label id="co"></label></span></p>
			<p><div class="lbl-detmotor">HC: </div><span style="font-weight:bold"><label id="hc"></label></span></p>
			<p><div class="lbl-detmotor">NOX: </div><span style="font-weight:bold"><label id="nox"></label></span></p>
			<p><div class="lbl-detmotor">Particule: </div><span style="font-weight:bold"><label id="particule"></label></span></p>
			<p><div class="lbl-detmotor">Opacitate: </div><span style="font-weight:bold"><label id="opacitate"></label></span></p>
			<p><div class="lbl-detmotor">Doc Omol: </div><span style="font-weight:bold"><label id="doc_omolog"></label></span></p>
		</td>
	</tr>
	<tr>
		<td>Observatii:</td>
		<td colspan="4" id="observatii"></td>
	</tr>

</table>