<form role="form" class="form-inline mid-form" >
	<fieldset style="padding: 10px">
		<legend>NR. REGISTRU: <label id="nr_registru" style="color:blue;font-weight: bold"></label></legend>
		<div style="width:400px;float:left">
		<!-- <div> -->
		<div class="w2ui-field">
			<label>Mod omologare:</label>
			<div>
				<input type="text" id="cod_tip_omologare" >
			</div>
		</div>
		<!-- <div class="w2ui-field" style="display:none">
			<label>Tip omologare:</label>
			<div>
				<input type="text" id="cod_tip_omologare"></label>
			</div>
		</div>

		</div>-->
		<div class="w2ui-field">
			<label>WVTA:</label>
			<div>
				<input type="text" id="wvta" disabled="true">
				{{!--<label >{{ext}}</label>--}}
			</div>
		</div>
		<div class="w2ui-field">
			<label>Categorie CE:</label>
			<div>
				<input type="text" id="categorie">
			</div>
		</div>
		<div class="w2ui-field">
			<label>Categorie folosinta:</label>
			<div>
				<input type="text" id="cod_categorie">
			</div>
		</div>
		<div class="w2ui-field clasa">
			<label>Clasa:</label>
			<div>
				<input type="text" id="id_clasa">
			</div>
		</div>
		<div class="w2ui-field">
			<label>Caroserie:</label>
			<div>
				<input type="text" id="cod_caroserie">
			</div>
		</div>
		<div class="w2ui-field">
			<label>Marca:</label>
			<div>
				<input type="text" id="marca">
			</div>
		</div>
		<div class="w2ui-field">
			<label>Tip:</label>
			<div>
				<input type="text" id="tip">
			</div>
		</div>
		<div class="w2ui-field">
			<label>Varianta:</label>
			<div>
				<input type="text" id="varianta">
			</div>
		</div>
		<div class="w2ui-field">
			<label>Versiune:</label>
			<div>
				<input type="text" id="versiune">
			</div>
		</div>
		<div class="w2ui-field">
			<label>Denumire:</label>
			<div>
				<input type="text" id="denumire_comerciala">
			</div>
		</div>
		</div>

		<div style="width:400px;float:left">
		<div class="w2ui-field">
			<label>Producator:</label>
			<div>
				<textarea id="producator"></textarea>
			</div>
		</div>
		<div class="w2ui-field">
			<label>Numar axe:</label>
			<div>
				<input type="number" id="nr_axe">
			</div>
		</div>
		<!--<div class="w2ui-field">
			<label>Antipoluare:</label>
			<div>
				<input type="text" id="antipoluare">
			</div>
		</div>
		<div class="w2ui-field">
			<label>ABS:</label>
			<div>
				<input type="text" id="abs">
			</div>
		</div>
		<div class="w2ui-field">
			<label>OBD:</label>
			<div>
				<input type="text" id="obd">
			</div>
		</div>-->
		<div class="w2ui-field">
			<label>Observatii:</label>
			<div>
				<textarea id="observatii"></textarea>
			</div>
		</div>
		</div>
	</fieldset>
</form>
