<div id="sursaMentiuni" style="height:250px"></div>
<p>Preview:</p>
<textarea id="preview" style ="height:145px;max-width:380px;min-width: 380px" readonly>{{words}}</textarea><br>
<i>Nota: Mentiunile voa fi tiparite pe CIV exact in forma in care apar mai sus. Pentru modificari va rog sa folositi campul editabil al fiecarei mentiuni in parte pana ajungeti la forma dorita!</i>

<p>Mentiuni:</p>