<div id="searchResultForm">
  <div id="searchResultData">
    <div class="w2ui-page page-0 " style="width:100%">
      <div class="" id="search_tabTVV"></div>
    </div>
    <div class="w2ui-page page-1 " style="width:100%">
      <div class="" id="search_tabDimensiuni"></div>
    </div>
    <div class="w2ui-page page-2 " style="width:100%">
      <div class="" id="search_tabMase"></div>
    </div>
    <div class="w2ui-page page-3 " style="width:100%">
      <div class="" id="search_tabMotor"></div>
    </div>
    <div class="w2ui-page page-4 " style="width:100%">
      <div class="" id="search_tabPoluare"></div>
    </div>
    <div class="w2ui-page page-5 " style="width:100%">
      <div class="" id="search_tabTransmisie"></div>
    </div>
    <div class="w2ui-page page-6 " style="width:100%">
      <div class="" id="search_tabAxe"></div>
    </div>
    <div class="w2ui-page page-7 " style="width:100%">
      <div class="" id="search_tabAnvelope"></div>
    </div>
    <div class="w2ui-page page-8 " style="width:100%">
      <div class="" id="search_tabAltele"></div>
    </div>
    <div class="w2ui-page page-9 " style="width:100%">
      <div class="" id="search_tabSisteme"></div>
    </div>
    <div class="w2ui-page page-10 " style="width:100%">
      <div class="" id="search_tabMentiuni"></div>
    </div>
  </div>