<div style="height:calc(100% - 37px)">
  <button class="btn btn-blue" id="addfield"><i class="w2ui-add"></i>Adauga criterii cautare</button>
  <div style="display: flex; height:100%">
    <div id="searchFields" style="height: 100%;overflow:auto;margin:5px;width:630px;min-width: 630px;border:thin solid #333;"></div>
    <div style="border: thin solid #333;margin: 5px;height: 100%;width: 100%;position: relative;min-width: 450px;">
      <div style="position: absolute; left:17px; bottom:48px;"><span>Afisare </span><span id="crtPage">0</span><span> din </span><span id="totalRecords">0</span><span> rezultate</span></div>
      <button class="btn btn-red" style="position: absolute;bottom:10px;right:10px;" id="closeBtn"><i class="w2ui-icon-cross"></i>Inchide</button>
      <button class="btn btn-green" style="position: absolute;bottom:10px;right:100px;" id="searchBtn"><i class="w2ui-icon-search"></i>Cauta</button> 
      <button class="btn btn-orange" style="position: absolute;bottom:10px;right:220px;" id="copyBtn"><i class="w2ui-icon-copy"></i>Copiaza date</button> 
      <button class="btn btn-default" style="position: absolute;bottom:10px;left:90px;" id="nextBtn">Urmator</button> 
      <button class="btn btn-default" style="position: absolute;bottom:10px;left:10px;" id="prevBtn">Anterior</button> 
    </div>
  </div>
</div>