<div id="tvvForm" style="height: 100%">
<div class="w2ui-page page-0 " style="width:100%">
<div class="" id="tabTVV"></div>
</div>
<div class="w2ui-page page-1 " style="width:100%">
<div class="" id="tabDimensiuni"></div>
</div>
<div class="w2ui-page page-2 " style="width:100%">
<div class="" id="tabMase"></div>
</div>
<div class="w2ui-page page-3 " style="width:100%">
<div class="" id="tabMotor"></div>
</div>
<div class="w2ui-page page-4 " style="width:100%">
<div class="" id="tabPoluare"></div>
</div>
<div class="w2ui-page page-5 " style="width:100%">
<div class="" id="tabTransmisie"></div>
</div>
<div class="w2ui-page page-6 " style="width:100%">
<div class="" id="tabAxe"></div>
</div>
<div class="w2ui-page page-7 " style="width:100%">
<div class="" id="tabAnvelope"></div>
</div>
<div class="w2ui-page page-8 " style="width:100%">
<div class="" id="tabAltele"></div>
</div>
<div class="w2ui-page page-9 " style="width:100%">
<div class="" id="tabSisteme"></div>
</div>
<div class="w2ui-page page-10 " style="width:100%">
<div class="" id="tabMentiuni"></div>
</div>
<div class="w2ui-buttons">
    <div id="formButtons" style="display:none; text-align:center">
        <span id="editButtons">
        <button class="btn btn-blue" id="btnSave"><i class="w2ui-icon-save"></i> Salveaza</button>
        <button class="btn btn-orange" id="btnImportDate"><i class="w2ui-icon-upload"></i> Importa datele de la extensia anterioara</button>
        <button class="btn btn-green" id="btnValideaza"><i class="w2ui-icon-check"></i> Valideaza datele!</button>
        </span>
        
        <button class="btn btn-green" id="btnPrintFisa"><i class="w2ui-icon-print"></i> Fisa</button>

        <button class="btn btn-orange" id="copyButton" style="display:none"><i class="w2ui-icon-copy"></i> Copy</button>
        <button class="btn btn-orange" id="pasteButton" style="display:none"><i class="w2ui-icon-copy"></i> Paste</button>
        </div>
</div>
</div>