<section>
<h3>Autorizare utilizator pentru acces automat in aplicatie</h3>
<p>Aceasta opreratiune leaga utilizatorul selectat de aceasta statie de lucru. Astfel, utilizatorul va fi logat automat in aplicatie si sesiunea nu va mai expira. Singura modalitate de delogare va ramane cea manuala, prin accesarea meniului "Inchide sesiunea"</p>
<p><b>ATENTIE!</b></p>
<p>Nu este recomandata aceasta operatiune pe calculatoarele folosite de mai multi utilizatori!</p>
<span>Va rugam sa aduceti la cunostinta utilizatorului aspectele prezentate mai sus precum si riscurile pe care le implica logarea automata in aplicatie!</span>
<br>
<hr>
<div class="w2ui-field">
        <label>Alege utilizator:</label>
        <div>
            <input name="userlist" id="userlist" type="text" maxlength="100" style="width: 250px"/>
        </div>
    </div>
<br>
  <div class="w2ui-buttons"> 
    <button class="btn btn-red" id="btnAuthorize">AUTORIZEAZA ACEST UTILIZATOR!</button>
</div>
</section>