<!-- <div class="app-header">
    <div class="app-left-col">
        <img src="{{img}}" width="130" height="168" />
    </div>
    <h1>APLICATIE COMENZI C.I.V.<br>COMPARTIMENT OMOLOGARI</h1>
</div>
<div class="app-content">
    <p>&nbsp;</p>
</div>
<div class="app-linie"></div>
<div class="app-left-col">
    <p>
        <strong>Detinator: </strong>R.A.R. - D.T.I.C.
        <br />
        <strong>Programator: </strong>Cristian Mardare
        <br />
        <strong>Design: </strong>Cristian Mardare
    </p>
</div>
<div class="app-right-col">
    <p align="right">
        <strong>Persoana de contact: </strong>Cristian Mardare
        <br />
        <strong>Mobil: </strong>0721.298.782
        <br />
        <strong>E-mail: </strong>cristian.mardare@rarom.ro
    </p>
</div> -->
