 <div  style="width:500px;">
 <div class="w2ui-page page-1">
        <div class="w2ui-field">
            <label> Activeaza proxy:</label>
            <div>
                <input type="checkbox" name="setupproxy" id="setupproxy" />
                <span class="check"></span>
            </div>
        </div>
        <div class="w2ui-field">
            <label> Protocol:</label>
            <div>
                <input type="text" name="proxy_protocol" id="proxy_protocol" class="proxydata form-control" disabled="disabled" />
            </div>
        </div>
        <div class="w2ui-field">
            <label> User:</label>
            <div>
                <input type="text" name="proxy_user" id="proxy_user" class="proxydata form-control" disabled="disabled" />
            </div>
        </div>
        <div class="w2ui-field">
            <label> Password:</label>
            <div>
                <input type="password" name="proxy_pass" id="proxy_pass" class="proxydata form-control" disabled="disabled" />
            </div>
        </div>
        <div class="w2ui-field">
            <label> Adresa(ip):</label>
            <div>
                <input type="text" name="proxy_address" id="proxy_address" class="proxydata form-control" disabled="disabled" />
            </div>
        </div>
        <div class="w2ui-field">
            <label> Port:</label>
            <div>
                <input type="text" name="proxy_port" id="proxy_port" class="proxydata form-control" disabled="disabled" />
            </div>
        </div>
    </div>
     <div class="w2ui-buttons">
        <button class="btn" name="reset" id="btnReset">Resetare proxy</button>
        <button class="btn" name="save" id="btnSaveSettings">Save</button>
    </div>
</div>